/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900&display=swap');

html,body{
	/*font-family: 'Work Sans', sans-serif;*/
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	margin: 0px;
	padding: 0px;
	color: #666;
    overflow-x: hidden;
}
a{
	cursor: pointer;
	text-decoration: none;
}
.nav{
	padding: 15px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.main-header{
	padding-bottom: 5px;
	/*border-bottom: 1px solid #eee;*/
}
.nav-link-container{
	margin: 0px 0px 20px 0px;
}
.nav-link-item{
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	display: inline-block;
	color: #444;
	transition: all 0.1s ease-in;
}
.nav-link-item:hover{
	color: #000;
}
.nav-link-item:after{
    display: inline-block;
    content: '\0000B7';
    margin: 0px 10px;
    font-size: 28px;
    position: relative;
    top: 5px;
    line-height: 20px;
    color: #999;
}
.nav-link-item:last-child:after{
	display: none;
}
.hide{
	display: none !important;
}
.logo-container, #kdco-logo{
    width: 170px;
    height: 120px;
    margin-left: -2px;
}
.page-header-container{
	display: block;
	margin: 0px;
	font-size: 40px;
	font-weight: 700;
	color: #222;
	line-height: 1.1;
	margin-top: 10px;
}
.filters-header{
	font-size: 14px;
	color: #999;
	margin: 20px 0px -10px 0px;
	font-weight: 400;
}
.category-list{
	margin-top: 15px;
	width: 250px;
}
.category-item{
	display: block;
	font-size: 0.9em;
	padding: 12px 10px 10px 25px;
	color: #666;
	cursor: pointer;
	/*border-radius: 3px;*/
	background: #fff;
	transition: all 0.1s ease-in-out;
	font-weight: 400;
	position: relative;
}
.category-item:before{
	content: '';
	position: absolute;
	left: 0px;
	top: 14px;
	display: inline-block;
	border: 1px solid #999;
	border-radius: 1000px;
	height: 16px;
	width: 16px;
}
.category-item-active{
	font-weight: 700;
	color: #222;
}
.category-item-checkmark{
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 14px;
	border-radius: 1000px;
	opacity: 0;
	transition: all 0.1s ease-in-out;
}
.category-item-active .category-item-checkmark{
	opacity: 1;
}
.category-item .em{
	margin-right: 10px;
	position: relative;
	top: -2px;
}
.category-item:hover{
	color: #000;
}
.nav-section{
	display: inline-block;
	float: left;
	width: 250px;
	margin-right: 30px;
}
.profile-card-section{
	display: inline-block;
	width: 100%;
	float: left;
	padding: 30px 15px 30px 30px;
}
.profile-card-li{
	/*float: right;*/
}
.profile-card{
	position: relative;
	border: 1px solid #ddd;
	/*background: #000;*/
	padding: 20px;
	border-radius: 2px;
	margin-bottom: 20px;
	text-align: center;
	height: 360px;
}
.profile-card:last-child{
	/*border-bottom: none;*/
}
.profile-card-dp{
    height: 110px;
    width: 110px;
    border-radius: 1000px;
    margin-bottom: -15px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
}
.profile-card-details{
	min-height: 130px;
	padding-bottom: 20px;
}
.profile-card-name{
	font-weight: 700;
	color: #222;
	margin: 10px 0px 7px 0px;
	font-size: 20px;
	position: relative;
}
.profile-card-location{
    font-weight: 600;
    color: #fff;
    margin: 0px auto 5px auto;
    font-size: 11px;
    padding: 3px 10px;
    border-radius: 1000px;
    background: #000;
    border: 2px solid #fff;
    text-transform: uppercase;
    display: inline-block;
}
.profile-card-bio{
	font-weight: 400;
    color: #666;
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    line-height: 1.4;
    position: relative;
    height: 5.0em;
    overflow: hidden;
}
.profile-card-category{
	font-weight: 400;
	color: #222;
	margin: 0px 0px 10px 0px;
	font-size: 15px;
	line-height: 1.5;
	position: relative;
	max-height: 1.5em;
	overflow: hidden;
}
.profile-card-cta{
	/*border-radius: 3px;*/
	margin: -20px;
	background: #222;
	display: block;
	padding: 16px;
	text-align: center;
	color: #fff;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 0px 0px 2px 2px;
}
.profile-card-cta:hover{
	background: #222;
	color: #fff;
}
.profile-card-sm-item{
	display: inline-block;
	margin: 10px 5px;
}
.profile-card-sm-item img{
	max-width: 26px;
}
.mob-filters{
	display: none;	
}
.category-list-apply-mob{
	display: none !important;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -400px 0
    }
    100%{
        background-position: 400px 0
    }
}
.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8 !important;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%) !important;
    background-size: 800px 104px !important;
    position: relative;
}
.content-placeholder-dp {
	margin: 5px auto 20px auto;
	height: 110px; width: 110px;
	border-radius: 100%;
}
.content-placeholder-header{
	height: 25px;
	width: 50%;
	margin: 15px auto;
}
.content-placeholder-desc {
	width: 80%;
	height: 15px;
	display: inline-block;
}
.animated-background.profile-card-location {
	width: 60px;
}
.empty-state{
	text-align: center;
	margin-top: 15%;
}
.empty-state img{
	border-radius: 6px;
	max-height: 200px;
	margin-bottom: 10px;
}
.empty-state h2{
	color: #333;
	font-size: 20px;
	margin-bottom: 0;
}
.empty-state p{
	margin-top: 10px;
	color: #666;
	font-size: 16px;
}
.nominate-fab{
	border-radius: 1000px;
	display: inline-block;
	padding: 15px 30px;
	font-size: 15px;
	color: #fff;
	font-weight: 500;
	background: #000;
	position: fixed;
	right: 20px;
	bottom: 20px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: all 0.1s ease-in-out;
}
.nominate-fab:hover{
	box-shadow: 0px 5px 30px rgba(0,0,0,0.4);
}
#profile-list{
	min-height: 100vh;
	background: #fff;
}
#profile-card-loader{
	background: #fff;
	min-height: 100vh;
}
@media(min-width: 800px){
	.nav{
		position: fixed;
		left: 0px;
		top: 0px;
		width: 300px;
		height: 100vh;
		overflow: auto;
	}
	.profile-card-section{
		padding-left: 315px !important;
	}
	.mob-only, .mob-only-inline{
		display: none !important;
	}
	.filters-close-icon{
		display: none;
	}
}
@media(max-width: 800px){
	.empty-state img{
		max-width: 100%;
	}
	.empty-state h2{
		font-size: 18px;
	}
	.empty-state p{
		font-size: 15px;
		line-height: 1.5;
	}
	.web-only{
		display: none !important;
	}
	.mob-only-inline{
		display: inline-block;
	}
	.nav-link-container{
		float: right;
		display: inline-block;
	    margin: 16px 0px 0px 0px;
	}
	.nav{
		padding: 15px 15px 0px 15px;
	}
	.nav-link-item{
		font-size: 12px;
	}
	.nominate-fab{
		/*left: 0px;
	    right: 0px;
	    margin: 0 auto;
	    width: 180px;
	    text-align: center;*/
	    display: none !important;
	}
	.categories-bar{
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 0px 20px 20px 20px;
		background: #fff;
	}
	.categories-bar .list{
		padding-bottom: 20px !important;
		height: calc(100vh - 120px);
		overflow: auto;
	}
	.nav-link-item:after{
		margin: 0px 7px;
	}
	.logo-container, #kdco-logo {
	    width: 100px;
	    height: 67px;
	    margin-left: -2px;
	}
	.nav-section{
		display: block;
		width: 100%;
	}
	.category-list {
	    width: 100%;
	    padding-bottom: 80px;
		position: relative;
	}
	.category-list-apply-mob{
		position: fixed;
	    bottom: 15px;
	    right: 15px;
	    width: 56px;
	    height: 56px;
	    text-align: center;
	    background: #000;
	    z-index: 999;
	    color: #fff;
        border-radius: 1000px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
	}
	.category-list-apply-mob img{
        max-width: 24px;
	    filter: invert(100%);
	    position: relative;
	}
	.category-item-checkmark {
    	right: 0px;
	    top: 14px;
	}
	.category-item{
		padding: 12px 15px 12px 30px;
	}
	.profile-card-section {
	    display: block;    
	    width: 100%;
	    padding: 15px 15px 70px 15px;
	}
	.profile-card-dp {
    	height: 70px;
    	width: 70px;
	}
	.profile-card {
    	height: auto;
	}
	#profile-card-loader .profile-card-li .profile-card{
		height: 350px !important;
	}
	.profile-card-cta{
		margin-top: 20px;
	    display: inline-block;
	    width: auto;
	    padding: 10px 20px;
	    font-size: 14px;
	}
	.profile-card-name{
		font-size: 18px;
	}
	.profile-card-location{
		font-size: 13px;
	}
	.profile-card-bio{
		font-size: 14px;
		height: auto;
	}
	.profile-card-category{
		font-size: 14px;
	}
	.mob-filters{		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		border-radius: 1000px;
    	text-align: center;
    	height: 56px;
    	width: 56px;
    	font-size: 15px;
    	color: #fff;
    	font-weight: 500;
    	background: #fff;
    	position: fixed;
    	right: 15px;
    	bottom: 15px;
    	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    	transition: all 0.1s ease-in-out;
	}
	.filters-close-icon{
	    opacity: 0.4;
	    right: 20px;
	    position: absolute;
	    top: 20px;
	}
	.filters-close-icon img{
	    width: 18px;
	}
	.filters-header{
		margin-bottom: 0px;
	}
	.filter-indicator{
		position: absolute;
	    top: 12px;
	    right: 10px;
	    height: 20px;
	    width: 20px;
	    border-radius: 50%;
	    background: red;
	    border: 4px solid #fff;
	}
	.mob-filters img{
		width: 24px;
		height: auto;
	}
	.profile-card-section{
		position: relative;
		z-index: -1;
	}
}