/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

/* Meera */
@font-face {
	font-family: 'Meera';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url(https://smc.org.in/downloads/fonts/meera/Meera-Regular.woff2?v=7.0) format('woff2'), url(https://smc.org.in/downloads/fonts/meera/Meera-Regular.woff?v=7.0) format('woff'), url(https://smc.org.in/downloads/fonts/meera/Meera-Regular.ttf?v=7.0) format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+0D01-0D7F, U+200C-U+200D, U+25CC;
}

html,body{
	/*font-family: 'Noto Sans', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #666;
    overflow-x: hidden;
}
a{
	cursor: pointer;
	text-decoration: none;
}
.nav{
	padding: 15px 20px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.hide{
	display: none !important;
}
.logo-container, #kdco-logo{
    width: 170px;
    height: 120px;
    margin-left: -2px;
}
.page-header-container{
	display: block;
	margin: 0px;
	font-size: 40px;
	font-weight: 700;
	color: #222;
	line-height: 1.1;
	margin-top: 10px;
}
.category-list{
	margin-top: 15px;
	width: 250px;
}
.category-item{
	display: block;
	font-size: 0.9em;
	padding: 14px 15px 14px 0px;
	color: #666;
	cursor: pointer;
	/*border-radius: 3px;*/
	background: #fff;
	transition: all 0.1s ease-in-out;
	font-weight: 300;
	position: relative;
}
.category-item-active{
	font-weight: 700;
	color: #222;
}
.category-item-checkmark{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 30px;
	top: 17px;
	border-radius: 1000px;
	opacity: 0;
	transition: all 0.1s ease-in-out;
}
.category-item-active .category-item-checkmark{
	opacity: 1;
}
.category-item .em{
	margin-right: 10px;
	position: relative;
	top: -2px;
}
.category-item:hover{
	color: #000;
}
.nav-section{
	display: inline-block;
	float: left;
	width: 250px;
	margin-right: 30px;
}
.profile-card-section{
	display: inline-block;
	width: calc(100vw - 300px);
	float: left;
	padding: 30px 15px 30px 30px;
}
.profile-card{
	position: relative;
	border-bottom: 1px solid #ddd;
	/*background: #000;*/
	padding-left: 130px;
	padding-top: 5px;
	margin-bottom: 20px;
}
.profile-card:last-child{
	/*border-bottom: none;*/
}
.profile-card-dp{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 110px;
	width: 110px;
	border-radius: 1000px;
	margin-bottom: 20px;
	object-fit: cover;
}
.profile-card-details{
	min-height: 130px;
	padding-bottom: 20px;
}
.profile-card-name{
	font-weight: 700;
	color: #222;
	margin: 0px 0px 5px 0px;
	font-size: 20px;
	position: relative;
}
.profile-card-location{
	font-weight: 400;
	color: #aaa;
	margin: 0px 0px 5px 0px;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
}
.profile-card-bio{
	font-weight: 200;
	color: #444;
	margin: 0px 0px 10px 0px;
	font-size: 15px;
	line-height: 1.6;
	position: relative;
}
.profile-card-category{
	font-weight: 400;
	color: #444;
	margin: 0px;
	font-size: 15px;
	position: relative;
}
.profile-card-cta{
	/*border-radius: 3px;*/
	border: 1px solid #222;
	display: block;
	width: 100%;
	padding: 13px;
	text-align: center;
	color: #222;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}
.profile-card-cta:hover{
	background: #222;
	color: #fff;
}
.mob-filters{
	display: none;	
}
.category-list-apply-mob{
	display: none;
}

@media(max-width: 800px){
	.logo-container, #kdco-logo {
	    width: 100px;
	    height: 67px;
	    margin-left: -2px;
	}
	.nav{
		height: auto;
	}
	.nav-section{
		display: block;
		width: 100%;
	}
	.category-list {
	    width: 100%;
	    padding-bottom: 80px;
		position: relative;
	}
	.category-list-apply-mob{
		position: fixed;
	    bottom: 15px;
	    padding: 13px;
	    width: calc(100% - 40px);
	    display: block;
	    background: #222;
	    z-index: 999;
	    color: #fff;
	    text-align: center;
	}
	.category-item-checkmark {
    	right: 0px;
	    top: 16px;
	}
	.profile-card-section {
	    display: block;    
	    width: 100%;
	    padding: 15px;
	}
	.profile-card-dp {
    	height: 70px;
    	width: 70px;
	}
	.profile-card {
    	padding-left: 90px;
	}
	.profile-card-cta{
		margin-top: 20px;
	    display: inline-block;
	    width: auto;
	    padding: 10px 20px;
	    font-size: 14px;
	}
	.profile-card-name{
		font-size: 18px;
	}
	.profile-card-location{
		font-size: 13px;
	}
	.profile-card-bio{
		font-size: 14px;
	}
	.profile-card-category{
		font-size: 14px;
	}
	.mob-filters{
		display: inline-block;
		float: right;
		padding: 15px 0px;
	}
	.mob-filters img{
		width: 24px;
		height: auto;
	}
}